.*
*.class

# Package Files #
*.jar
*.war
*.ear
/Project01/nbproject/private/
/Project01/build/
/Project01/dist/
/Test/nbproject/private/
/Test/build/
/CppApplication_1/build/
/CppApplication_1/dist/
/Project02/nbproject/private/
/Project1/nbproject/private/
/EnlargingImage/nbproject/private/
/OtsuBinarize/nbproject/private/
/Project2a/nbproject/private/
/EnlargingImage/build/
/Project2a/build/
/ImageFilter/nbproject/private/
/ImageFilter/build/
/ReflectionPadding/nbproject/private/
/ReflectionPadding/build/
/ImageRotate/nbproject/private/
/OtsuBinarize/build/