.*
*.class

# Package Files #
*.jar
*.war
*.ear
/Project01/nbproject/private/
/Project01/build/
/Project01/dist/
/Test/nbproject/private/
/Test/build/
/CppApplication_1/build/
/CppApplication_1/dist/
/Project02/nbproject/private/